@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Oswald:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #210102;
  --grey: #757575;
  --red: #e50914;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 25px 0;
}

#site-logo {
  color: var(--red);
  font-family: "Anton", sans-serif;
  font-size: 32px;
}

#log-btn {
  background: var(--red);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  height: 36px;
  width: 150px;
}

#log-btn:hover {
  cursor: pointer;
}

.todo-list {
  background: papayawhip;
  border-radius: 5px;
  color: #4c3307;
  height: calc(100vh - 250px);
  height: auto;
  margin: 1em auto 5px;
  padding: 3em;
  max-width: 1200px;
}

.hero-logged-out {
  color: #4c3307;
  margin: 75px auto 1em;
  padding: 1em;
  max-width: 1200px;
}

.todo-item {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 25px;
}

footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-start;
}

footer p {
  font-size: 16px;
  margin: 0 auto;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 1200px;
}

/* .backgroundImage {
  height: calc(100vh - 50px);
} */

@media screen and (max-width: 1199px) {
  header {
    padding: 1em;
  }

  #site-logo {
    margin-top: -4px;
    line-height: 1.35;
  }

  .site-logo-break {
    display: block;
  }

  .todo-list {
    margin: 1em 1em 0 1em;
  }
}

@media only screen and (orientation: landscape) {
  .backgroundImage {
    height: 700px !important;
  }
}

@media screen and (max-width: 590px) {
  .backgroundImage {
    height: 700px !important;
  }

  .logged-out-header {
    line-height: 1;
    margin-bottom: 15px;
  }

  .todo-list {
    padding: 3em 2em;
  }
}

@media screen and (min-width: 590px) {
  .sign-up-break {
    content: "\A";
    white-space: pre;
  }
}
